@font-face
{
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

body
{
    font-family: Montserrat, sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
}

.background-video
{
    position: fixed;
    z-index: 0;
}

*
{
    z-index: 1;
}

.navigation-bar
{
    background-color: white;
    /*background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);*/
    grid-row: 1/2;
    grid-column: 1/4;
}

.card-container
{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 80px;
}

.card
{
    background-color: white;
    text-align: center;
    border-radius: 30px;
    max-width: 300px;
}

.main
{
    background-color: white;
    grid-row: 3/4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    padding: 50px 50px 50px 50px;
}

.left
{
    grid-column: 1/2;
}

.right
{
    grid-column: 3/4;
}

.resize
{
    width: 100%;
    height: auto;
}

.thumbnail
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.shadow
{
    box-shadow: #222222 0 0 50px;
}

.padding
{
    padding: 15px 30px 15px 30px;
}