/* CSS Table of contents
    1 Broad selectors
        1.1 Entire page
        1.2 Tag selectors
        1.3 Scroll bar
    2 Recurring selectors
        2.1 Header
        2.2 Footer
    3 Individual selectors
        3.1 Welcome card
        3.2 Body
        3.3 Projects preview
    4 Animations
        4.1 Welcome card
 */

/* 1 BROAD SELECTORS */
/* 1.1 Entire page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* Import Poppins font */

html
{
    scroll-behavior: smooth; /* Smooth scrolling on supported browsers */

    --light: 249, 245, 255;
    --dark: 30, 21, 42;
    --accent-dark: 19, 80, 91;
    --accent-light: 59, 163, 161;
}

body
{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    font-family: Poppins, sans-serif;
    margin: 0;
    color: rgb(var(--dark));
    background: rgb(var(--light));
    position: relative;
    top: 100px;
    overflow-x: hidden;

    /* TODO: Add custom scrollbar */
}

/* 1.2 Tag selectors */
a
{
    color: inherit;
    text-decoration: none;
}

li
{
    display: inline;
}

button
{
    border-radius: 5em;
    outline: none;
    border: none;
    background: rgba(var(--dark), .15);
    width: 5rem;
    height: 5rem;
    font-size: 30px;
    color: rgba(var(--dark), .5);
    cursor: pointer;
    box-shadow: rgba(var(--dark), .2) 0 0 1rem;
    transition: 200ms ease;
}

button:hover
{
    transform: scale(1.1);
}

/* 1.3 Scroll bar */
::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-thumb
{
    background: rgb(var(--dark));
}

::-webkit-scrollbar-thumb:hover
{
    background: rgb(var(--accent-dark));
}

/* 2 RECURRING SELECTORS */
/* 2.1 Header */
#header
{
    display: flex;
    align-items: center;
    width: 100%;
    user-select: none;
    background: inherit;
    position: fixed;
    top: 0;
    height: 100px;
    text-shadow: rgba(var(--dark), .1) 0 0 .5rem;
    z-index: 4;
}

#header h1
{
    margin-left: 30px;
    margin-right: 50px;
}

#header h2
{
    margin-left: 80px;
    position: relative;
}

#header h2::after
{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 5px;
    width: 100%;
    background: rgb(var(--accent-dark));
    transition: ease 250ms;
    transform-origin: left;
    transform: scaleX(0);
}

#header h2:hover::after
{
    transform: scaleX(1);
}

/* 2.2 Footer */
#footer
{
    width: 98vw;
    padding: 0 30px;
    text-shadow: rgba(var(--dark), .15) 0 0 1rem;
}

#footer img
{
    position: relative;
    top: 2px;
    height: 1em;
    filter: invert();
}

#footer p
{
    float: left;
}

#footer ul
{
    display: inline-block;
    float: right;
}

/* 3 INDIVIDUAL SELECTORS */
/* 3.1 Welcome card */
#welcome
{
    background: linear-gradient(115deg, rgb(var(--accent-dark)), rgb(var(--accent-light)), rgb(var(--accent-dark)), rgb(var(--accent-light)));
    background-size: 400%;
    width: 38rem;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    margin: 30vh 0;
    color: rgba(var(--light), .95);
    font-size: 25px;
    font-weight: 700;
    animation: welcome-card-bg 12s infinite linear;
    box-shadow: rgba(var(--dark), .5) 0 0 2rem;
    user-select: none;
    transition: 300ms ease;
}

#welcome:hover
{
    transform: scale(1.07);
}

#welcome img
{
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    margin-right: 1rem;
    box-shadow: rgba(var(--dark), .2) 0 0 1rem;
}

#welcome p
{
    margin: 0;
    text-shadow: rgba(var(--dark), .2) 0 0 1rem;
}

#welcome.subpage
{
    -webkit-background-clip: text;
    color: transparent;
    display: block;
    text-align: center;
    font-size: 35px;
    box-shadow: none;
}

/* 3.2 Body */
#body
{
    text-align: center;
    padding: 10rem;
}

#body h2
{
    text-shadow: rgba(var(--dark), .1) 0 0 1rem;
}

/* 3.3 Projects preview */
#projects
{
    text-align: center;
    margin-top: -5rem;
    margin-bottom: 3rem;
}

#projects h1
{
    margin-top: 6rem;
}

#school-projects, #other-projects
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    position: relative;
    height: 25rem;
}

.card
{
    width: 17rem;
    height: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: calc(50% - 17rem / 2);
    box-shadow: rgba(var(--dark), .7) 0 0 1rem;
    transition: 300ms ease;
    text-align: left;
    filter: brightness(.6);
    z-index: 1;
}

.card-image
{
    position: absolute;
    height: 25rem;
    z-index: -1;
}

.card-content
{
    background: linear-gradient(to top, rgb(var(--dark)), rgb(var(--dark), .7), rgba(var(--dark), 0));
}

.card h2, .card p
{
    margin: 1rem;
    text-shadow: rgba(var(--dark), .3) 0 0 1rem;
    color: rgba(var(--light), .97);
}

.card-left
{
    transform: scale(.8) translate(-12rem, 0);
}

.card-center
{
    z-index: 3;
    filter: none;
}

.card-right
{
    transform: scale(.8) translate(12rem, 0);
}

/* 4 ANIMATIONS */
/* 4.1 Welcome card */
@keyframes welcome-card-bg
{
    0%
    {
        background-position: 0;
    }

    100%
    {
        background-position: 90%;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */
/* OLD CSS */

/*!* Primary link style *!*/
/*a*/
/*{*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*!* Remove iframe border *!*/
/*iframe*/
/*{*/
/*    border: 0;*/
/*}*/

/*!* Background video style *!*/
/*.background-video*/
/*{*/
/*    position: fixed;*/
/*    left: 50%;*/
/*    transform: translate(-50%, 0);*/
/*    z-index: -1;*/
/*}*/

/*!* Hide computer navigation bar *!*/
/*.navigation-bar*/
/*{*/
/*    display: none;*/
/*}*/

/*!* Mobile title style *!*/
/*.mobile-title*/
/*{*/
/*    margin: 0;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    padding: 40% 0 40% 0;*/
/*}*/

/*!* Post style *!*/
/*.post*/
/*{*/
/*    background-color: #222;*/
/*    padding: 15px;*/
/*}*/

/*!* Mobile post divider style *!*/
/*.post::after*/
/*{*/
/*    position: absolute;*/
/*    content: "";*/
/*    background-color: #555;*/
/*    width: 200px;*/
/*    margin-top: 2px;*/
/*    height: 5px;*/
/*    border-radius: 5px;*/
/*}*/

/*!* Mobile title style *!*/
/*.mobile-subtitle*/
/*{*/
/*    margin: 0;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    padding: 20% 0 20% 0;*/
/*}*/

/*!* Mobile menu button style *!*/
/*.mobile-menu-button*/
/*{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    margin: 15px;*/
/*    width: 40px;*/
/*    height: auto;*/
/*}*/

/*!* Mobile navigation menu style *!*/
/*.mobile-menu*/
/*{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    height: 100%;*/
/*    background-color: #111;*/
/*    width: 0;*/
/*    transition: .5s;*/
/*    z-index: 2;*/
/*}*/

/*!* Mobile navigation menu close button style *!*/
/*.mobile-close-button*/
/*{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    margin: 15px;*/
/*    width: 40px;*/
/*    height: auto;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: .5s;*/
/*}*/

/*!* Mobile navigation menu home button style *!*/
/*.mobile-home-button*/
/*{*/
/*    margin: 15px;*/
/*    width: 40px;*/
/*    height: auto;*/
/*}*/

/*!* Mobile navigation menu background fade style *!*/
/*.mobile-menu-overlay*/
/*{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*    transition: .5s;*/
/*}*/

/*!* Mobile navigation menu links style *!*/
/*.menu-links*/
/*{*/
/*    padding-right: 15px;*/
/*    text-align: right;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: .5s;*/
/*}*/

/*!* Mobile links style *!*/
/*.mobile-links*/
/*{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    padding-right: 15px;*/
/*}*/

/*!* First main paragraph style *!*/
/*.left*/
/*{*/
/*    margin-bottom: 20px;*/
/*}*/

/*!* Hide computer navigation card container *!*/
/*.card-container*/
/*{*/
/*    display: none;*/
/*}*/

/*!* Main page style *!*/
/*.main*/
/*{*/
/*    background-color: #222;*/
/*    padding: 15px 30px 15px 30px;*/
/*}*/

/*!* Resize to fit *!*/
/*.resize*/
/*{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*!* Footer style *!*/
/*.footer*/
/*{*/
/*    padding: 5px 0 5px 0;*/
/*    background-color: #222;*/
/*    font-size: small;*/
/*}*/

/*!* Hide computer left footer text *!*/
/*.align-left*/
/*{*/
/*    display: none;*/
/*}*/

/*!* Hide computer center footer text *!*/
/*.align-center*/
/*{*/
/*    display: none;*/
/*}*/

/*!* Right footer text style *!*/
/*.align-right*/
/*{*/
/*    text-align: center;*/
/*}*/

/*!* Gray color *!*/
/*.gray*/
/*{*/
/*    color: #555;*/
/*}*/

/*.huge*/
/*{*/
/*    font-size: 300px;*/
/*    margin: 50px 0 -50px 0;*/
/*}*/

/*.space-after*/
/*{*/
/*    padding-bottom: 250px; !* Only works for 1000 height *!*/
/*}*/

/*#theme-chooser*/
/*{*/
/*    position: absolute;*/
/*    margin-right: 50px;*/
/*    width: 40px;*/
/*    height: auto;*/
/*    right: 0;*/
/*}*/

/*!*                      (default 0px-799px)                      *!*/
/*!*      ↑ Everything above this line applies to mobile ↑         *!*/
/*!* ------------------------------------------------------------- *!*/
/*!*     ↓ Everything below this line applies to computer ↓        *!*/
/*!*                     (overridden 800px-∞px)                    *!*/

/*@media only screen and (min-width: 800px)*/
/*{*/
/*    !* Style applies to entire page *!*/
/*    body*/
/*    {*/
/*        display: grid;*/
/*        grid-template-columns: 20% 60% 20%;*/
/*        grid-template-rows: auto auto auto auto;*/
/*    }*/

/*    !* Background video style *!*/
/*    .background-video*/
/*    {*/
/*        min-width: 100%;*/
/*    }*/

/*    !* Static color background style *!*/
/*    .background*/
/*    {*/
/*        position: fixed;*/
/*        top: 0;*/
/*        left: 0;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        background-color: #222;*/
/*        z-index: -1;*/
/*    }*/

/*    !* Navigation bar style *!*/
/*    .navigation-bar*/
/*    {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        background-color: #222;*/
/*        grid-row: 1/2;*/
/*        grid-column: 1/4;*/
/*    }*/

/*    !* Navigation card container style *!*/
/*    .card-container*/
/*    {*/
/*        grid-column: 1/4;*/
/*        grid-row: 2/3;*/
/*        display: grid;*/
/*        grid-template-columns: auto auto;*/
/*        justify-content: center;*/
/*        padding: 50px 10% 50px 10%;*/
/*    }*/

/*    !* Navigation card style *!*/
/*    .card*/
/*    {*/
/*        background-color: #222;*/
/*        text-align: center;*/
/*        border-radius: 30px;*/
/*        width: 300px;*/
/*        margin: 50px;*/
/*    }*/

/*    !* Main page style *!*/
/*    .main*/
/*    {*/
/*        grid-row: 3/4;*/
/*        grid-column: 1/4;*/
/*        display: grid;*/
/*        grid-template-columns: 45% 10% 45%;*/
/*        padding: 50px 50px 50px 50px;*/
/*    }*/

/*    !* Post container style *!*/
/*    .post-container*/
/*    {*/
/*        width: 100%;*/
/*        grid-column: 2/3;*/
/*    }*/

/*    !* Post style *!*/
/*    .post*/
/*    {*/
/*        margin: 5% 0 5% 0;*/
/*        width: 100%;*/
/*        border-radius: 30px;*/
/*        padding: 0;*/
/*    }*/

/*    !* Hide mobile post divider *!*/
/*    .post::after*/
/*    {*/
/*        display: none;*/
/*    }*/

/*    !* Main page left column style *!*/
/*    .left*/
/*    {*/
/*        grid-column: 1/2;*/
/*    }*/

/*    !* Main page right column style *!*/
/*    .right*/
/*    {*/
/*        grid-column: 3/4;*/
/*    }*/

/*    !* Icon style *!*/
/*    .icon*/
/*    {*/
/*        position: relative;*/
/*        top: 2px;*/
/*        height: 1em;*/
/*    }*/

/*    !* Preview images style *!*/
/*    .thumbnail*/
/*    {*/
/*        position: relative;*/
/*        top: -5px;*/
/*        border-top-left-radius: 30px;*/
/*        border-top-right-radius: 30px;*/
/*    }*/

/*    !* Drop shadow *!*/
/*    .shadow*/
/*    {*/
/*        box-shadow: black 0 0 50px;*/
/*    }*/

/*    !* Padding *!*/
/*    .padding*/
/*    {*/
/*        padding: 15px 30px 15px 30px;*/
/*    }*/

/*    !* Footer style *!*/
/*    .footer*/
/*    {*/
/*        grid-row: 4/5;*/
/*        grid-column: 1/4;*/
/*        display: grid;*/
/*        grid-template-columns: auto auto auto;*/
/*    }*/

/*    !* Left footer text style *!*/
/*    .align-left*/
/*    {*/
/*        display: initial;*/
/*        text-align: left;*/
/*        padding-left: 15px;*/
/*        grid-column: 1/2;*/
/*    }*/

/*    !* Center footer text style *!*/
/*    .align-center*/
/*    {*/
/*        display: initial;*/
/*        text-align: center;*/
/*        grid-column: 2/3;*/
/*    }*/

/*    !* Right footer text style *!*/
/*    .align-right*/
/*    {*/
/*        text-align: right;*/
/*        padding-right: 15px;*/
/*        grid-column: 3/4;*/
/*    }*/

/*    !* List style *!*/
/*    .array li*/
/*    {*/
/*        position: relative;*/
/*        float: left;*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        left: -19px;*/
/*    }*/

/*    !* Horizontal list style *!*/
/*    .horizontal li*/
/*    {*/
/*        display: inline;*/
/*    }*/

/*    !* Alternative link style *!*/
/*    .link*/
/*    {*/
/*        text-decoration: underline;*/
/*    }*/

/*    !* Alternative link hover style *!*/
/*    .link:hover*/
/*    {*/
/*        color: lightgray;*/
/*    }*/

/*    !* Alternative link click style *!*/
/*    .link:active*/
/*    {*/
/*        color: gray;*/
/*    }*/

/*    !* Hide mobile title *!*/
/*    .mobile-title*/
/*    {*/
/*        display: none;*/
/*    }*/

/*    !* Hide mobile subtitle *!*/
/*    .mobile-subtitle*/
/*    {*/
/*        display: none;*/
/*    }*/

/*    !* Hide mobile navigation menu button *!*/
/*    .mobile-menu-button*/
/*    {*/
/*        display: none;*/
/*    }*/
/*}*/
